@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,300&display=swap");
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Montserrat';
}

.rootClassName {
  font-family: 'Montserrat';
}


.h3 {
  font-weight: 500;
  text-transform: capitalize;
}

.accordion-header .accordion-button {
  text-transform: capitalize !important;
}

.client-logo {
  border: 1px solid #dddddd;
  padding: 4px 8px;
  border-radius: 4px;
  height: 80px;
}

.container {
  max-width: 1200px;
}

#clients-accordion .accordion-body {
  max-height: 300px;
  overflow-y: auto;
}

.nav-tabs {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-tabs .nav-link {
  color: #666 !important;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: transparent !important;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0px !important;
  padding-right: 8px;
}

.nav-tabs .nav-link.active {
  border-bottom: 5px solid #F05423 !important;
}

.blog a {
  color: #F05423;
}

a:hover {
  text-decoration: underline;
}

.right-slanted-box {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.left-slanted-box {
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media screen and (min-width: 768px) {
  .clip-path-card {
    clip-path: polygon(0% 0%, 85% 0%, 100% 15%, 0% 800%);
  }

}

.service-navigator .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: white;
  background-color: #FF5000;
}

.service-navigator .nav-link {
  font-weight: bold;
  color: #666666;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  margin-bottom: 16px;
}

.plain-tabs .nav-link {
  text-transform: capitalize !important;
}